
{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Новый чат</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="user-select" class="form-label">Выберите пользователя:</label>
            <select class="form-select" id="user-select" name="user_id" required>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.get_full_name }} ({{ user.get_role_display }})</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-custom">Создать чат</button>
    </form>
</div>
{% endblock %}